* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.range-slider {
  width: 300px;
  height: 8px;
}

.red-slider .MuiSlider-rail {
  transition: 500ms;
}

.red-slider .MuiSlider-track {
  background-color: #f44336;
}

.red-slider .MuiSlider-thumb {
  background-color: #f44336;
  border-color: #f44336;
}

.orange-slider .MuiSlider-rail {
  transition: 500ms;
}

.orange-slider .MuiSlider-track {
  background-color: #ff8c00;
}

.orange-slider .MuiSlider-thumb {
  background-color: #ff8c00;
  border-color: #ff8c00;
}

.green-slider .MuiSlider-rail {
  transition: 500ms;
}

.green-slider .MuiSlider-track {
  background-color: #70a694;
}

.green-slider .MuiSlider-thumb {
  background-color: #70a694;
  border-color: #70a694;
}

track {
  transition: all 0.4s ease-out;
}

.thumb {
  transition: all 0.4s ease-out;
}

.MuiSlider-root {
  color: #151515 !important;
  width: 90% !important;
}

.MuiSlider-thumb {
  width: 25px !important;
  height: 25px !important;
  display: flex;
  outline: 0;
  position: absolute;
  box-sizing: border-box;
  margin-top: -13px !important;
  align-items: center;
  margin-left: -6px;
  border-radius: 50%;
  justify-content: center;
  background-color: currentColor;
  transition: all 0.4s ease-out !important;
}

.MuiSlider-track {
  transition: all 0.4s ease-out !important;
}

.PrivateValueLabel-offset-3 {
  top: 13px !important;
  margin-left: 13px;
  z-index: 1;
  position: absolute;
  font-size: 0.7rem !important;
  transform: none !important;
  transition: none !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300 !important;
  line-height: 0px !important;
  transform-origin: center !important;
  background: transparent !important;
}

.PrivateValueLabel-circle-4 {
  width: 0px;
  height: 0px !important;
  display: flex;
  transform: rotate(-45deg);
  align-items: center;
  border-radius: 50% 50% 50% 0;
  justify-content: center;
  background-color: none !important;
}

.MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-thumb:hover {
  box-shadow: none !important;
}
.header_heading p,
.header_heading_two a {
  color: #faf4f4;
  text-decoration: none;
}
input[type="checkbox"] {
  accent-color: #000;
}
.container {
  /* height: 100vh; */
  width: auto;
}
/* .link-a{
    width: 100px;
} */
/* mobile */
@media (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .command {
    width: 100px;
  }

  .header_heading_one span {
    color: #fbfbfb;
    padding-left: 7px;
    font-size: 15px;
  }

  .header_heading_one img {
    width: 20px;
  }

  .header_heading_two {
    display: none;
  }

  .inline-cnct3 {
    position: absolute;
  }

  .content_heading p {
    margin: 0px;
    padding: 20px 0px 20px 0px;
    color: #fbfbfb;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
  }

  .in-cnct {
    display: flex;
    justify-content: space-between;
    width: 0px;
  }

  .fa-solid {
    background-color: #faf4f4;
    padding: 9px;
    border-radius: 5px;
    width: 15px;
    margin-left: 10px;
  }

  .pc {
    background-color: #faf4f4;
    padding: 11px;
    width: 225px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
  }

  .bn {
    margin-top: 336px;
    width: 242px;
    height: 42px;
    margin-left: 20px;
    border: none;
    background: #41313e !important;
    color: #faf4f4;
    border-radius: 5px;
    font-size: 15px;
  }

  .progress-container p {
    color: #faf4f4 !important;
    font-size: 10px;
  }

  .white-block-content {
    background: #faf4f4 !important;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    height: 80% !important;
  }

  .p-p {
    font-size: 12px;
  }

  .p-b {
    font-size: 12px;
  }

  .wrapper {
    display: flex;
    padding: 6px;
  }

  .text-wrapper {
    padding-left: 2px;
    font-size: 12px;
  }

  .checkbox-wrapper {
    width: 10%;
  }

  .rc {
    padding-bottom: 30%;
  }

  .command {
    display: none;
  }

  .angry {
    width: 70px;
    margin-left: 65%;
    margin-top: -8%;
  }

  .command_up {
    width: 55%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .content_image {
    width: 90%;
    position: absolute;
    top: 115px;
  }

  .label {
    display: none;
  }

  .Brown-logo {
    width: 10px;
    padding: 3px 0px 0px 3px;
    margin-bottom: -4px;
    /* margin-left: 10px; */
  }

  .last {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  .link-a {
    text-decoration: none;
    color: #faf4f4;
    font-size: 10px;
  }

  .content_whitebox {
    margin-top: 150px;
  }
}

/* mobile M */

@media (min-width: 375px) and (max-width: 424px) {
  .container {
    width: auto;
    padding: 20px;
    height: 100vh;
  }

  .command {
    width: 100px;
  }

  .header_heading_one span {
    color: #fbfbfb;
    padding-left: 7px;
    font-size: 15px;
  }

  .inline-cnct3 {
    position: absolute;
  }

  .header_heading_one img {
    width: 20px;
  }

  .header_heading_two {
    display: none;
  }

  .content_heading p {
    margin: 0px;
    padding: 20px 0px 20px 0px;
    color: #fbfbfb;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
  }

  .in-cnct {
    display: flex;
    align-items: center;
  }

  .fa-solid {
    background-color: #faf4f4;
    padding: 8px;
    border-radius: 5px;
    width: 20px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .pc {
    background-color: #faf4f4;
    padding: 12px;
    width: 270px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
  }

  .bn {
    margin-top: 318px;
    position: absolute;
    width: 295px;
    height: 42px;
    margin-left: 25px;
    border: none;
    background: #41313e !important;
    color: #faf4f4;
    border-radius: 5px;
    font-size: 15px;
  }

  .progress-container p {
    color: #faf4f4 !important;
    font-size: 10px;
  }

  .white-block-content {
    background: #faf4f4 !important;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    height: 80% !important;
  }

  .p-p {
    font-size: 12px;
  }

  .p-b {
    font-size: 12px;
  }

  .wrapper {
    display: flex;
    padding: 6px;
  }

  .text-wrapper {
    padding-left: 2px;
    font-size: 12px;
  }

  .checkbox-wrapper {
    width: 10%;
  }

  .rc {
    padding-bottom: 30%;
  }

  .command {
    display: none;
  }

  .angry {
    width: 70px;
    margin-left: 65%;
  }

  .command_up {
    width: 60%;
  }

  .content_image {
    width: 90%;
    position: absolute;
    top: 115px;
  }

  .label {
    display: none;
  }

  .Brown-logo {
    width: 10px;
    padding: 3px 0px 0px 3px;
    margin-bottom: -4px;
  }

  .last {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-top: 65px;
  }

  .link-a {
    text-decoration: none;
    color: #faf4f4;
    font-size: 10px;
  }

  .content_whitebox {
    margin-top: 170px;
  }

  .MuiSlider-root {
    color: #151515 !important;
    width: 100% !important;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .container {
    width: auto;
    padding: 18px;
    height: 100vh;
  }

  .header_heading_one span {
    color: #fbfbfb;
    padding-left: 7px;
    font-size: 15px;
  }

  .header_heading_one img {
    width: 20px;
  }

  .header_heading_two {
    display: none;
  }

  .inline-cnct3 {
    position: absolute;
  }

  .content_heading p {
    margin: 0px;
    padding: 20px 0px 20px 0px;
    color: #fbfbfb;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
  }

  .in-cnct {
    display: flex;
    align-items: center;
  }

  .fa-solid {
    background-color: #faf4f4;
    padding: 8px;
    border-radius: 5px;
    width: 15px;
    margin-left: 10px;
    margin-top: 6px;
  }

  .pc {
    background-color: #faf4f4;
    padding: 10px;
    width: 320px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
  }

  .bn {
    margin-top: 300px;
    position: absolute;
    width: 325px;
    height: 42px;
    margin-left: 25px;
    border: none;
    background: #41313e !important;
    color: #faf4f4;
    border-radius: 5px;
    font-size: 16px;
  }

  .progress-container p {
    color: #faf4f4 !important;
    font-size: 10px;
  }

  .white-block-content {
    background: #faf4f4 !important;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    height: 80% !important;
  }

  .p-p {
    font-size: 12px;
  }

  .p-b {
    font-size: 12px;
  }

  .wrapper {
    display: flex;
    padding: 6px;
  }

  .text-wrapper {
    padding-left: 2px;
    font-size: 12px;
  }

  .checkbox-wrapper {
    width: 10%;
  }

  .rc {
    padding-bottom: 20%;
  }

  .command {
    display: none;
  }

  .angry {
    width: 70px;
    margin-left: 70%;
    margin-top: -13px;
  }

  .command_up {
    width: 54%;
    margin-left: 5%;
    margin-top: 2%;
  }

  .content_image {
    width: 90%;
    position: absolute;
    top: 115px;
  }

  .label {
    display: none;
  }

  .Brown-logo {
    width: 10px;
    padding: 3px 0px 0px 3px;
    margin-bottom: -4px;
  }

  .last {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  .link-a {
    text-decoration: none;
    color: #faf4f4;
    font-size: 10px;
  }

  .content_whitebox {
    margin-top: 170px;
  }

  .MuiSlider-root {
    color: #151515 !important;
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: auto;
    padding: 32px;
    height: 100vh;
  }

  .header_heading_one span {
    color: #fbfbfb;
    padding-left: 7px;
    font-size: 18px;
  }

  .header_heading_one img {
    width: 25px;
  }

  .header_heading_two {
    display: inline-block;
    color: #fbfbfb;
    font-size: 18px;
  }
  .pc {
    color: #242424;
    padding: 17px 0px 15px 10px;
    background-color: #faf4f4;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 98%;
  }
  .inline-cnct3 {
    position: absolute;
  }

  .last1 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .content_heading p {
    margin: 0px;
    padding: 40px 0px 40px 0px;
    color: #fbfbfb;
    width: 100%;
    font-size: 18px;
  }

  .in-cnct {
    display: flex;
    align-items: center;
  }
  .inline-cnct1 {
    background: #faf4f4;
    border-radius: 5px;
    flex-grow: 1;
  }

  .fa-solid {
    background-color: #faf4f4;
    padding: 16px;
    border-radius: 5px;
    width: 20px;
    margin-left: 10px;
  }

  .bn {
    margin-top: 455px;
    position: absolute;
    width: 590px;
    height: 62px;
    margin-left: 65px;
    border: none;
    background: #41313e !important;
    color: #faf4f4;
    border-radius: 5px;
    font-size: 23px;
  }

  .progress-container p {
    color: #faf4f4 !important;
    font-size: 16px;
    padding-top: 10px;
  }

  .white-block-content {
    background: #faf4f4 !important;
    padding: 30px;
    border-radius: 10px;
    margin-top: 5%;
    height: 80% !important;
  }

  .p-p {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .p-b {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .wrapper {
    display: flex;
    padding: 6px;
  }

  .text-wrapper {
    padding-left: 0px;
    font-size: 20px;
  }

  .checkbox-wrapper {
    width: 0px !important;
    padding-right: 30px !important;
  }

  .rc {
    padding-bottom: 20%;
  }

  .command {
    display: none;
  }

  .angry {
    width: 120px;
    margin-left: 60%;
    margin-top: -40px;
  }

  .command_up {
    width: 320px;
    margin-left: 70px;
    margin-top: 45px;
  }

  .content_image {
    width: 95%;
    position: absolute;
    top: 165px;
  }

  .label {
    display: none;
  }

  .Brown-logo {
    width: 10px;
    padding: 3px 0px 0px 3px;
    margin-bottom: -4px;
  }

  .last {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .link-a {
    text-decoration: none;
    color: #faf4f4;
    font-size: 15px;
  }

  .content_whitebox {
    margin-top: 250px;
  }

  .MuiSlider-root {
    color: #151515 !important;
    width: 100% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1224px) {
  .container {
    height: 100vh;
  }
  .inner_container {
    padding: 120px 40px 0px 40px;
  }
  .header_heading_one span {
    color: #fbfbfb;
    padding-left: 7px;
    font-size: 18px;
  }

  .header_heading_one img {
    max-width: 35px;
    margin-left: 0px;
    position: absolute;
    margin-top: -5px;
  }

  .header_heading_two {
    display: inline-block;
    color: #fbfbfb;
    font-size: 18px;
  }

  .span-title {
    margin-left: 35px;
  }
  .last1 {
    display: flex;
    justify-content: space-between;
  }

  .content_heading p {
    margin: 0px;
    padding: 30px 0px 40px 0px;
    color: #fbfbfb;
    width: 100%;
    font-size: 18px;
  }

  .in-cnct {
    display: flex;
    align-items: center;
  }

  .inline-cnct1 {
    flex-grow: 1;
  }

  .inline-cnct2 {
    display: inline-block;
  }

  .inline-cnct3 {
    display: inline-block;
  }

  .fa-solid {
    background-color: #faf4f4;
    padding: 12px;
    border-radius: 5px;
    width: 20px;
    margin-top: 10px;
  }

  .password-length {
    margin-top: 10px;
  }
  .bn {
    width: 90px;
    height: 42px;
    border: none;
    color: #faf4f4;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
  }

  .progress-container p {
    font-size: 12px;
    padding-top: 10px;
  }

  .white-block-content {
    border-radius: 10px;
    height: 40% !important;
  }

  .p-p {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .p-b {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .wrapper {
    display: flex;
    padding: 9px;
  }
  .check-wrapper {
    display: flex;
  }
  .text-wrapper {
    padding-left: 0px;
    font-size: 14px;
  }

  .checkbox-wrapper {
    width: 0px !important;
    padding-right: 20px !important;
  }

  .command {
    display: inline-block;
    width: 50%;
    margin-left: 31%;
    margin-bottom: 14%;
  }

  .angry {
    width: 120px;
    margin-left: 48%;
    margin-top: -40px;
  }

  .command_up {
    display: none;
    width: 330px;
    margin-left: 70px;
    margin-top: 10px;
  }

  .content_image {
    display: inline-block;
    width: 35%;
  }

  .label {
    display: inline-block;
    color: #fbfbfb;
    /* max-width: 59%; */
    width: 77%;
    margin-left: 19%;
    font-size: 12px;
  }

  .pc {
    color: #242424;
    padding: 15px 0px 15px 10px;
    width: 95%;
    background-color: #faf4f4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .Brown-logo {
    width: 15px;
    padding: 3px 0px 0px 3px;
    margin-bottom: -4px;
  }

  .last {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }

  .link-a {
    text-decoration: none;
    color: #faf4f4;
    font-size: 14px;
  }

  .content_whitebox {
    margin-top: 0px;
    background: #fbfbfb;
    width: 60%;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
  }

  .MuiSlider-root {
    color: #151515 !important;
    width: 100% !important;
  }
}

@media (min-width: 1224px) and (max-width: 1439px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .bn {
    font-family: "Poppins", sans-serif;
  }

  .container {
    width: 100%;
    margin: auto;
    height: 100vh;
    /* background: #4b8673; */
  }
  .p-b {
    font-size: 12px;
    font-weight: 500px;
  }
  .inner_container {
    padding: 100px 0px 0px 50px;
    /* height: 100vh; */
  }

  .content_header {
    margin-left: 0px;
  }

  .last1 {
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
  }

  .header_heading span,
  .header_heading p {
    color: #faf4f4;
    font-size: 15px;
    /* margin-right: 50px; */
  }

  .password p {
    color: #d2e9e4;
    display: inline-block;
    font-size: 15px;
  }

  .header_heading_one {
    display: inline-block;
  }

  .header_heading_one img {
    max-width: 30px;
    margin-left: -27px;
    position: absolute;
    margin-top: -5px;
  }
  .span-title {
    margin-left: 10px;
  }
  .password input {
    border: none;
    padding-bottom: 5px;
    margin-left: 12px;
    border-bottom: 1px solid rgb(241, 233, 233);
    background-color: #f2f2f2;
    width: 200px;
  }

  i {
    color: #fffbeb;
    background-color: #faf4f4;
  }

  .inline-cnct2 {
    background-color: #faf4f4;
    /* padding: 15px; */
    /* margin-top: 10px; */
    margin-left: 5px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .inline-cnct2:hover {
    background-color: #f7e6e6;
  }

  .inline-cnct2 img {
    max-width: 13px;
    cursor: pointer;
  }

  .i-bn {
    background-color: #8ea7e9;
    border: none;
    outline: none;
    cursor: pointer;
    transform: rotate("90deg");
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  label {
    color: #fffbeb;
  }

  .sp {
    padding: 6px;
  }

  .in-cnct {
    display: flex;
    align-items: center;
  }

  .inline-cnct2 {
    display: inline-block;
    border-radius: 5px;
  }

  .in-cnct h3 {
    /* padding-bottom: 6px; */
    color: #f1f3f2;
  }

  .inline-cnct1 {
    background-color: #faf4f4;
    flex-grow: 1;
    border-radius: 5px;
  }

  input[type="text"] {
    width: 95%;
  }

  .inline-cnct3 {
    display: inline-block;
  }

  .password-length p {
    color: #151515;
    font-size: 12px !important;
    font-weight: 500;
  }

  .in-cnct h3 {
    padding-bottom: 12px;
  }

  .password img {
    max-width: 27px;
    padding-right: 5px;
  }

  .password-length {
    font-size: 16px;
    padding-top: 10px;
  }

  .customize {
    margin-top: 10px;
  }

  .checkboxes {
    display: flex;
    font-size: 12px;
    margin-top: 30px;
  }

  .wrapper {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .check-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .checkboxes .label {
    margin-left: 10px;
    margin-top: 30px !important;
  }

  .upper {
    font-size: 12px;
  }

  /* .customize{
        margin-top: 10px;
    } */
  /* 
    .left,
    .right {
        width: fit-content;
    } */

  .content_section {
    width: 100%;
  }

  .content_heading p {
    color: #fcffff;
    width: 20%;
    font-size: 16px;
    font-weight: 500;
    /* margin-top: 3%; */
    margin-top: 20px;
    margin-left: 90px;
  }

  .content_heading {
    margin-bottom: 0px !important;
  }

  .flex {
    font-size: 12px;
    padding: 10px;
    font-weight: 900;
  }

  .flex button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid rgb(44, 43, 43);
    padding: 0;
    margin: 0;
  }

  .flex h5 {
    font-size: 12px;
    color: #4b8673;
  }

  .flex button h4 {
    font-size: 12px;
    font-weight: 200px;
    color: #888787;
  }

  .contanier1 .p-p {
    color: #1d1d1b;
    margin: 0;
    margin-left: 2%;
    font-size: 14px;
  }

  .password-length {
    margin-bottom: 5px;
  }

  .slider {
    align-items: center;
    justify-content: flex-start;
    height: 6%;
    position: relative;
  }

  .range-val {
    /* position: absolute; */
    cursor: pointer;
    margin: 0;
  }

  .slider p {
    margin: 0;
  }

  .pc {
    color: #242424;
    padding: 15px 0px 15px 10px;
    /* width: 69%; */
    background-color: #faf4f4;
    border: none;
    border-radius: 5px;
    font-size: 12px;
  }

  i {
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .buttons {
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .bn {
    margin-left: 10px;
    height: 43px;
    width: 80px;
    border-radius: 5px;
    border: 0px solid #1d1d1b;
    font-size: 15px;
    background-color: #1d1d1b;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    /* animation: track 4s ; */
  }

  input[type="checkbox"] {
    accent-color: #202021;
    align-items: center;
    margin-top: 5px;
  }

  input[type="range"] {
    accent-color: #4b8673;
    width: 400px;
  }

  .cnct {
    padding: 20px;
    text-align: left;
  }

  .ant-modal {
    width: auto;
  }

  .left,
  .right,
  .top,
  .bottom {
    margin: 8px;
  }

  .contanier1 .p-b {
    color: #1d1d1b;
    margin: 0;
    margin-left: 2%;
    font-size: 14px;
    padding-bottom: 10px;
  }

  label {
    margin-left: 10px;
    color: #393939;
  }

  .content_whitebox {
    display: inline-block;
    background-color: #fbfbfb;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    max-width: 55% !important;
    /* margin-top: 20px; */
    margin-left: 90px;
    width: 47%;
  }

  .last {
    display: flex;
    justify-content: space-between;
    /* padding: 0px; */
    width: 78%;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 15px;
  }

  .last a {
    color: #d2e9e4;
    text-decoration: none;
    font-size: 12px;
    margin-left: -30px;
  }

  .last p {
    color: #d2e9e4;
    font-size: 12px;
    margin-left: -10px;
  }

  .last-cnct-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rc {
    margin-top: 10px;
    padding-bottom: 20px;
  }

  .side-cnct {
    padding: 10px 0px 0px 20px;
  }

  /* .side-cnct img{
        max-width: 120px;
    } */
  .content_image .command {
    /* position: absolute; */
    max-width: 150px;
    right: 270px;
    margin-left: 115px;
    margin-bottom: 20px;
  }

  .command_up {
    display: none;
  }

  .angry {
    margin-left: 120px;
    max-width: 140px;
  }

  .content_image {
    margin-left: 0px !important;
    width: 30%;
    display: inline-block;
  }

  .content_image p {
    color: #fcfcfc;
    font-size: 10px;
    max-width: 250px;
    text-align: center;
    margin-top: 10px;
  }

  .label {
    margin-left: 70px;
  }

  .content_image h4 {
    color: #f1f3f2;
    text-align: center;
    font-weight: 500;
  }

  .last img {
    max-width: 15px;
    margin-left: 35px;
    position: absolute;
    /* top: 545px; */
  }
  .link-a {
    width: 100px;
    margin-right: -35px;
  }
  .text-wrapper {
    font-size: 12px;
  }
}

@media (min-width: 1440px) and (max-width: 1900px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .bn {
    font-family: "Poppins", sans-serif;
  }

  .container {
    width: 100%;
    margin: auto;
    height: 100vh;
  }

  .inner_container {
    padding: 123px 0px 0px 50px;
  }

  .content_header {
    margin-left: 0px;
  }

  .last1 {
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 85%;
  }

  .header_heading span,
  .header_heading p {
    color: #fbfbfb;
    font-size: 20px;
    /* margin-right: 50px; */
  }

  .password p {
    color: #d2e9e4;
    display: inline-block;
    font-size: 15px;
  }

  .header_heading_one {
    display: inline-block;
    margin-left: -30px;
  }

  .header_heading_one img {
    max-width: 30px;
    margin-left: -30px;
    position: absolute;
  }
  .p-p {
    font-size: 18px;
  }
  .password input {
    border: none;
    padding-bottom: 5px;
    margin-left: 12px;
    border-bottom: 1px solid rgb(241, 233, 233);
    background-color: #f2f2f2;
    width: 200px;
  }

  i {
    color: #fffbeb;
    background-color: #faf4f4;
  }

  .inline-cnct2 {
    background-color: #faf4f4;
    /* padding: 15px; */
    /* margin-top: 10px; */
    margin-left: 5px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .span-title {
    margin-left: 10px;
  }
  .inline-cnct1 {
    flex-grow: 1;
  }

  .inline-cnct2:hover {
    background-color: #f7e6e6;
  }

  .inline-cnct2 img {
    max-width: 16px;
    cursor: pointer;
  }

  .i-bn {
    background-color: #8ea7e9;
    border: none;
    outline: none;
    cursor: pointer;
    transform: rotate("90deg");
  }
  .white-block-content {
    padding: 8px;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }

  label {
    color: #fffbeb;
  }

  .sp {
    padding: 6px;
  }

  .in-cnct {
    display: flex;
    align-items: center;
  }

  .inline-cnct2 {
    display: inline-block;
    border-radius: 5px;
  }

  .in-cnct h3 {
    /* padding-bottom: 6px; */
    color: #f1f3f2;
  }

  input[type="text"] {
    width: 97%;
  }

  .inline-cnct3 {
    display: inline-block;
  }

  .password-length p {
    color: #151515;
  }

  .in-cnct h3 {
    padding-bottom: 12px;
  }

  .password img {
    max-width: 27px;
    padding-right: 5px;
  }

  .password-length {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 15px;
  }

  /* .customize {
        margin: 0px;
        display: flex;
        justify-content: flex-start;
    } */

  /* .customize .checkbox {
        padding: 20px;
    } */
  .customize {
    margin-top: 10px;
  }

  .checkboxes {
    display: flex;
    font-size: 12px;
    margin-top: 20px;
  }

  .wrapper {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .checkbox-wrapper {
    align-items: center;
  }

  .check-wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .checkboxes .label {
    margin-left: 10px;
    margin-top: 30px !important;
  }

  .upper {
    font-size: 12px;
  }

  /* .customize{
        margin-top: 10px;
    } */
  /* 
    .left,
    .right {
        width: fit-content;
    } */

  .content_section {
    width: 100%;
  }

  .content_heading p {
    color: #fcffff;
    width: 90%;
    font-size: 20px;
    /* margin-top: 3%; */
    margin-top: 40px;
    margin-left: 42px;
  }

  .content_heading {
    margin-bottom: 0px;
  }

  .flex {
    font-size: 12px;
    padding: 10px;
    font-weight: 900px !important;
  }

  .flex button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid rgb(44, 43, 43);
    padding: 0;
    margin: 0;
  }

  .flex h5 {
    font-size: 12px;
    color: #4b8673;
  }

  .flex button h4 {
    font-size: 12px;
    font-weight: 200px;
    color: #888787;
  }

  .contanier1 .p-p {
    color: #1d1d1b;
    margin: 0;
    margin-left: 2%;
    font-size: 13px;
  }

  .slider {
    align-items: center;
    justify-content: flex-start;
    height: 6%;
    position: relative;
  }

  .range-val {
    /* position: absolute; */
    cursor: pointer;
    margin: 0;
  }

  .slider p {
    margin: 0;
  }

  .pc {
    color: #242424;
    padding: 15px 0px 15px 10px;
    /* width: 69%; */
    background-color: #faf4f4;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }

  i {
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .buttons {
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .bn {
    margin-left: 10px;
    height: 43px;
    width: 80px;
    border-radius: 5px;
    border: 0px solid #1d1d1b;
    font-size: 15px;
    background-color: #1d1d1b;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    /* animation: track 4s ; */
  }

  input[type="checkbox"] {
    accent-color: #202021;
    align-items: center;
    margin-top: 5px;
  }

  input[type="range"] {
    accent-color: #4b8673;
    width: 400px;
  }

  .cnct {
    padding: 20px;
    text-align: left;
  }

  .ant-modal {
    width: auto;
  }

  .left,
  .right,
  .top,
  .bottom {
    margin: 8px;
  }
  .p-b {
    font-size: 18px;
  }
  .contanier1 .p-b {
    color: #1d1d1b;
    margin: 0;
    margin-left: 2%;
    font-size: 18px;
    padding-bottom: 10px;
  }

  label {
    margin-left: 10px;
    color: #393939;
  }

  .content_whitebox {
    display: inline-block;
    background-color: #fbfbfb;
    padding: 30px;
    border-radius: 20px;
    width: 55%;
    margin-top: 40px;
    margin-left: 40px;
  }

  .last {
    display: flex;
    justify-content: space-between;
    /* padding: 0px; */
    width: 93%;
    margin: auto;
    margin-top: 85px;
    padding-bottom: 30px;
  }

  .last a {
    color: #fbfbfb;
    text-decoration: none;
    font-size: 16px;
  }

  .last p {
    color: #fbfbfb;
    font-size: 16px;
  }

  .last-cnct-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rc {
    margin-top: 15px;
    padding-bottom: 20px;
  }

  .side-cnct {
    padding: 10px 0px 0px 20px;
  }

  /* .side-cnct img{
        max-width: 120px;
    } */
  .content_image .command {
    /* position: absolute; */
    max-width: 207px;
    margin-left: 156px;
    margin-bottom: 0px;
  }

  .command_up {
    display: none;
  }
  .link-a {
    margin-right: 82px;
  }
  .angry {
    margin-left: 215px;
    max-width: 140px;
  }

  .content_image {
    margin-left: 0px !important;
    width: 30%;
    display: inline-block;
  }

  .content_image p {
    color: #fcfcfc;
    font-size: 13px;
    max-width: 295px;
    text-align: center;
    margin-top: 10px;
  }

  .label {
    margin-left: 110px;
  }

  .content_image h4 {
    color: #f1f3f2;
    text-align: center;
    font-weight: 500;
  }

  .last img {
    max-width: 20px;
    margin-left: 10px;
    position: absolute;
    /* top: 545px; */
  }

  .text-wrapper {
    font-size: 16px;
  }
}

@media (min-width: 1920px) and (max-width: 2562px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .bn {
    font-family: "Poppins", sans-serif;
  }

  .container {
    width: 100%;
    margin: auto;
    height: 100vh !important;
  }

  .inner_container {
    padding: 210px 0px 0px 0px;
    /* height: 100vh; */
  }

  .content_header {
    margin-left: 0px;
  }

  .last1 {
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 56%;
  }

  .header_heading span,
  .header_heading p {
    color: #fbfbfb;
    font-size: 20px;
    /* margin-right: 50px; */
  }

  .password p {
    color: #d2e9e4;
    display: inline-block;
    font-size: 15px;
  }

  .header_heading_one {
    display: inline-block;
    margin-left: -30px;
    /* padding-top: 50px; */
  }

  .header_heading_one img {
    max-width: 25px;
    margin-left: -30px;
    position: absolute;
  }
  .p-p {
    font-size: 18px;
  }
  .password input {
    border: none;
    padding-bottom: 5px;
    margin-left: 12px;
    border-bottom: 1px solid rgb(241, 233, 233);
    background-color: #f2f2f2;
    width: 200px;
  }

  i {
    color: #fffbeb;
    background-color: #faf4f4;
  }

  .inline-cnct2 {
    background-color: #faf4f4;
    /* padding: 15px; */
    /* margin-top: 10px; */
    margin-left: 5px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .inline-cnct1 {
    flex-grow: 1;
  }

  .inline-cnct2:hover {
    background-color: #f7e6e6;
  }

  .inline-cnct2 img {
    max-width: 16px;
    cursor: pointer;
  }

  .i-bn {
    background-color: #8ea7e9;
    border: none;
    outline: none;
    cursor: pointer;
    transform: rotate("90deg");
  }
  .white-block-content {
    padding: 8px;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }

  label {
    color: #fffbeb;
  }

  .sp {
    padding: 6px;
  }

  .in-cnct {
    display: flex;
    align-items: center;
  }

  .inline-cnct2 {
    display: inline-block;
    border-radius: 5px;
  }

  .in-cnct h3 {
    /* padding-bottom: 6px; */
    color: #f1f3f2;
  }

  input[type="text"] {
    width: 97%;
  }

  .inline-cnct3 {
    display: inline-block;
  }

  .password-length p {
    color: #151515;
  }

  .in-cnct h3 {
    padding-bottom: 12px;
  }

  .password img {
    max-width: 27px;
    padding-right: 5px;
  }

  .password-length {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 15px;
  }

  /* .customize {
        margin: 0px;
        display: flex;
        justify-content: flex-start;
    } */

  /* .customize .checkbox {
        padding: 20px;
    } */
  .customize {
    margin-top: 10px;
  }

  .checkboxes {
    display: flex;
    font-size: 12px;
    margin-top: 20px;
  }

  .wrapper {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .checkbox-wrapper {
    align-items: center;
  }

  .check-wrapper {
    display: flex;
    gap: 33px;
    align-items: center;
  }

  .checkboxes .label {
    margin-left: 10px;
    margin-top: 30px !important;
  }

  .upper {
    font-size: 12px;
  }

  /* .customize{
        margin-top: 10px;
    } */
  /* 
    .left,
    .right {
        width: fit-content;
    } */

  .content_section {
    width: 100%;
  }

  .content_heading p {
    color: #fcffff;
    width: 39%;
    font-size: 20px;
    /* margin-top: 3%; */
    margin-top: 40px;
    margin-left: 355px;
  }

  .content_heading {
    margin-bottom: 0px;
  }

  .flex {
    font-size: 12px;
    padding: 10px;
    font-weight: 900px !important;
  }

  .flex button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid rgb(44, 43, 43);
    padding: 0;
    margin: 0;
  }

  .flex h5 {
    font-size: 12px;
    color: #4b8673;
  }

  .flex button h4 {
    font-size: 12px;
    font-weight: 200px;
    color: #888787;
  }

  .contanier1 .p-p {
    color: #1d1d1b;
    margin: 0;
    margin-left: 2%;
    font-size: 13px;
  }

  .slider {
    align-items: center;
    justify-content: flex-start;
    height: 6%;
    position: relative;
  }

  .range-val {
    /* position: absolute; */
    cursor: pointer;
    margin: 0;
  }

  .slider p {
    margin: 0;
  }

  .pc {
    color: #242424;
    padding: 15px 0px 15px 10px;
    /* width: 69%; */
    background-color: #faf4f4;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }

  i {
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .buttons {
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .bn {
    margin-left: 10px;
    height: 43px;
    width: 80px;
    border-radius: 5px;
    border: 0px solid #1d1d1b;
    font-size: 15px;
    background-color: #1d1d1b;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    /* animation: track 4s ; */
  }

  input[type="checkbox"] {
    accent-color: #202021;
    align-items: center;
    margin-top: 5px;
  }

  input[type="range"] {
    accent-color: #4b8673;
    width: 400px;
  }

  .cnct {
    padding: 20px;
    text-align: left;
  }

  .ant-modal {
    width: auto;
  }

  .left,
  .right,
  .top,
  .bottom {
    margin: 8px;
  }
  .p-b {
    font-size: 18px;
  }
  .contanier1 .p-b {
    color: #1d1d1b;
    margin: 0;
    margin-left: 2%;
    font-size: 18px;
    padding-bottom: 10px;
  }

  label {
    margin-left: 10px;
    color: #393939;
  }

  .content_whitebox {
    display: inline-block;
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 20px;
    width: 35%;
    margin-top: 40px;
    margin-left: 350px;
  }

  .last {
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: auto;
    margin-top: 45px;
  }

  .last a {
    color: #fbfbfb;
    text-decoration: none;
    padding-left: 10px;
    font-size: 16px;
  }

  .last p {
    color: #fbfbfb;
    font-size: 16px;
  }

  .last-cnct-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rc {
    margin-top: 15px;
    padding-bottom: 20px;
  }

  .side-cnct {
    padding: 10px 0px 0px 20px;
  }

  /* .side-cnct img{
        max-width: 120px;
    } */
  .content_image .command {
    /* position: absolute; */
    max-width: 207px;
    margin-left: 156px;
    margin-bottom: 0px;
  }

  .command_up {
    display: none;
  }
  .link-a {
    margin-right: 130px;
  }
  .angry {
    margin-left: 215px;
    max-width: 140px;
  }

  .content_image {
    margin-left: 0px !important;
    width: 30%;
    display: inline-block;
  }

  .content_image p {
    color: #fcfcfc;
    font-size: 13px;
    max-width: 295px;
    text-align: center;
    margin-top: 10px;
  }

  .label {
    margin-left: 110px;
  }

  .content_image h4 {
    color: #f1f3f2;
    text-align: center;
    font-weight: 500;
  }

  .last img {
    max-width: 20px;
    margin-left: 10px;
    position: absolute;
    /* top: 545px; */
  }

  .text-wrapper {
    font-size: 16px;
  }
}
